.middle {
    text-align: center;
}

.light {
    font-weight: 400;
}

.middle h1 {

}

.middle h4 {
    font-weight: lighter;
}

.smaller {
    font-size:  13px;
}

body {
    background-color: darkorange;
}

.container {
    background-color: yellow;
}

 img {
     padding-bottom: 2em;
     padding-top: 2px;
     float: none;
 }

 .fancy {
  font-weight: bold;
  font-style: oblique;
}

.well {
    background-color: deepskyblue;
    padding-top: .3em;
}

footer {
    font-size: 12px;
}

h5 {
    text-align: center;
}

.panel-default > .panel-heading-custom1 {
    background: green;
    color: orange;
}
